.Choose_11{
    padding: 80px 0;
    width: 100%;
    height: auto;
    padding-left: 7%;
    padding-right: 7%;
}
.Choose_12 .col-lg-6 img{
    max-width: 100%;
    height: auto;
}
.Choose_12 .col-lg-6 .title h4{
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1.2;
    color: #444;
    opacity: .9;
    font-family: "Montserrat", sans-serif;

}
.Choose_12 .col-lg-6 .p_1 p{
    padding: 0;
    margin: 0 0 30px 0;
    color: #444;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    opacity: 0.8;
    font-weight: 400;
    line-height: 1.5;

}


