.Question{
    padding: 60px 0;
    overflow: hidden;
    padding-left: 7%;
    padding-right: 7%;
}
.Question_2 h4{
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 20px 0;
    padding: 0;
}
.Question_2 p{
    text-align: center;
    margin: auto;
    /* font-size: 15px; */
    font-size: 1.2rem;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.Question_1 .Answer h6{
    padding: 22px 0;
    display: block;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    line-height: 1;
    font-weight:300;
    padding-right: 20px;
    color: #000;
    margin-bottom: 0;
    cursor: pointer;
    opacity: 0.8;
}
.Question_1 .Answer h6 span{
    float:right;
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    font-family: "Ionicons";     
    }
.Question_1 .Answer p{
    font-weight:300;
    margin-bottom:20px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    color: #444;
    font-family: "Open Sans", sans-serif;
}
.Question_1 .Answer .change_12{
    color: #1bb1dc;
    transition: .5s;
}