.Services{
     background: #f5f8fd;
     width: 100%;
     height: auto;
}
.Services_1{
    padding: 60px 0 40px 0;
}
.Services_1,::after,::before {
        box-sizing: border-box;
    }
.Services_2 h3{
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 20px 0;
}
.Services_2 p{
    text-align: center;
    margin: auto;
    font-size: 1.1rem;
    padding-bottom: 60px;
    color: #535074;
    font-family: "Open Sans", sans-serif;
}
.Services .box{
    display: flex;
    justify-content: space-between; 
     padding-left:6%;
     padding-right: 6%  ;  
}
.Services .d-flex .box_1{
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    transition: all 0.3s ease-in-out;
    text-align: center;
}
.Services .d-flex .box_1 h4 a{
    color: #111; 
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s;
}
.Services .d-flex .box_1 h4{
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    line-height: 1.2; 
    font-family: "Montserrat", sans-serif;
   }
 .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}
.Services .d-flex .box_1 p{
  
    margin: auto;
    font-size: 1.1rem;
    line-height: 28px;
   color: #535074;
   font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.Services .d-flex .box_1 i{
       background: #fceef3; 
       margin: 0 auto 15px auto;
      padding-top: 12px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      width: 60px;
      height: 60px;
}
.Services .d-flex .box_1:hover{
    transform: scale(1.1);
}
.Services .d-flex .box_1:hover a{
    color: #1bb1dc;
}

/* @media (max-width:600px){
    .justify-content-sm-around{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }
} */